<div class="page-container">
    
    <app-project-header></app-project-header>

    <div class="login-form-container">

        <form class="login-form">
            <mat-form-field class="login-email-field">
                <mat-label>Email</mat-label>
                <input matInput [formControl]="email" required placeholder="ex.pat@example.com">
            </mat-form-field>

            <br>
            
            <mat-form-field class="login-pw-field">
                <mat-label> Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix
                (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <br>

            <button mat-stroked-button class="login-button"> Login </button>
        </form>
        
        

    </div>

</div>

