<div class="guide-page-container">

    <div class="guide-header-container"> 

        <h1>User Guide for RBPT</h1>

        <p> ** Please read the following instruction before using this tool.</p>

    </div>

    <div class="guide-info-container">
        
        <mat-accordion>

            <mat-expansion-panel class="app-info-expan-panel">

                <mat-expansion-panel-header class="app-info-header">

                    <mat-panel-title class="app-info-title"> Application Information </mat-panel-title>

                    <!-- <mat-panel-description class="app-info-desc"> Application Version and Detail </mat-panel-description> -->

                </mat-expansion-panel-header>
                
                <div class="app-info-content-container">

                    <mat-list role="list">
                        <mat-list-item role="listitem"> Version: v1.0.0 </mat-list-item>
                        <mat-list-item role="listitem">Create Date: 10 Jun 2020</mat-list-item>
                    </mat-list>

                </div>
                
            </mat-expansion-panel>

            <mat-expansion-panel class="app-info-expan-panel">
                
                <mat-expansion-panel-header class="app-info-header">

                    <mat-panel-title class="app-info-title"> Introduction </mat-panel-title>

                    <!-- <mat-panel-description class="app-info-desc"> An Introduction For RBPT </mat-panel-description>-->

                </mat-expansion-panel-header>

                <div class="app-info-content-container">

                    <p>This Risk Based Pricing Tool is developed to provide a user-friendly and standardized platform for Relationship Managers ("RMs") and Credit Managers to:</p>
                    <p>1. Review the profitability of existing customers in terms of Return on Allocated Capital (ROAC).</p>
                    <p>2. Provide instant pricing calculation for new facility to comply with the Bank-wide ROAC requirement.</p>
                    <p>This tool is developed based on Facility Rating, using Basel II logic for calculation of Regulatory Capital and Economic Capital, with adjustments in the case of Economic Capital for a better assessment of risk into CNCBI</p>
                    <p>Users shall thoroughly read this User Guide before proceeding with the calculation.  Should you have any queries or encounter any problems in reading this User Guide or during the calculation, please feel free to contact Credit Risk Methodologies & Analytics (RMG)</p>
                    <p>This tool consists of several worksheets with the key summary listed below.  Please refer individual section below for detailed explanations.</p>

                    <p style="color: #000066; font-weight: bold;">INPUT SHEET</p>
                    <p>This is the key input sheet which users shall input the application details into 4 sections namely</p>
                    <p>(1) Customer Information</p>
                    <p>(2) Facility Information</p> 
                    <p>(3) Collateral Information</p>
                    <p>(4) Liabilities Information</p> 
                    <p>The information inputted will be analyzed and presented in pricing worksheet.</p>
                    <p style="color: #000066; font-weight: bold;">PRICING</p>
                    <p>
                        This worksheet shows the overall ROAC for the cases with high level summary of Expected Loss, Regulatory Capital and Economic Capital at facility level. The final output will be ROAC at transaction level and the one to be compared with stablished limits (in the case of ROAC).
                        The coverage of the tool includes:
                    </p>
                    <p>- Banking products / facilities: Trade, Loan, Bonds and Treasury Product requiring pre-settlement limits</p>
                    <p>- Borrower type: Sovereign/ Domestic PSE/ Foreign PSE/ Multilateral Development Bank/ Bank/ Securities Firm/ Corporate/ Holding company - Corporate / Holding Company - Bank/ Insurance / </p>   
                    <p>More information is shown in the pricing sheet, such as fees and margins, all these are used in calculation of ROAC. All these outputs are result of the inputs in the input sheet, any change in these outputs should only be done via input sheet.</p>
                
                </div>

            </mat-expansion-panel>

            <mat-expansion-panel class="app-info-expan-panel">

                <mat-expansion-panel-header class="app-info-header">

                    <mat-panel-title class="app-info-title"> Input Sheet </mat-panel-title>

                     <!-- <mat-panel-description class="app-info-desc"> Input Sheet User Guide </mat-panel-description> -->

                </mat-expansion-panel-header>
                
                <div class="app-info-content-container">

                    <mat-list role="list">
                        <mat-list-item role="listitem"> Version: v1.0.0 </mat-list-item>
                        <mat-list-item role="listitem">Create Date: 10 Jun 2020</mat-list-item>
                    </mat-list>

                </div>
                
            </mat-expansion-panel>

            <mat-expansion-panel class="app-info-expan-panel">

                <mat-expansion-panel-header class="app-info-header">

                    <mat-panel-title class="app-info-title"> Pricing Sheet </mat-panel-title>

                     <!-- <mat-panel-description class="app-info-desc"> Input Sheet User Guide </mat-panel-description> -->

                </mat-expansion-panel-header>
                
                <div class="app-info-content-container">

                    <mat-list role="list">
                        <mat-list-item role="listitem"> Version: v1.0.0 </mat-list-item>
                        <mat-list-item role="listitem">Create Date: 10 Jun 2020</mat-list-item>
                    </mat-list>

                </div>
                
            </mat-expansion-panel>


        </mat-accordion>

    </div>

</div>
    
